// Your custom SCSS should be written here...

body#home {
  font-weight: $font-weight-regular;
  text-align: center;
  overflow-x: hidden;

  h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-thin;
  }

  h2 {
    padding-bottom: .5em;
  }

  li {
    text-align: left;
  }

  #kinetic-bg {
    $canvas-height: 400px;
    height: $canvas-height;
    position: relative;
    > canvas {
      height: $canvas-height;
    }
    > .wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;

      h1, h2, h3,
      h4, h5, h6 {
        color: white;
      }

      h3 {
        letter-spacing: .1em;
      }

      p.contact {
        a {
          color: white;
        }
        text-align: center;
      }
    }
  }

}

.wrapper {
  padding: 75px 20px 70px 20px;
}

.wrapper.shaded {
  background-color: #E9E9E9 !important;
  background-size: cover;
}

.nobreak {
  white-space: nowrap;
}

#bio {
  text-align: left;
}