// Your custom SCSS should be written here...

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body#home {
  font-weight: $font-weight-regular;
  text-align: center;
  overflow-x: hidden;

  h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-thin;
  }

  h2 {
    padding-bottom: .5em;
  }

  nav {
    z-index: 1;
  }

  #kinetic-bg {
    //    $canvas-height: 400px;
    //    height: $canvas-height;
    position: relative;
    //    > canvas {
    //      height: $canvas-height;
    //    }
    > .wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: transparent url(../img/bgz.png);

      .row {
        @include vertical-center;
      }

      h1, h2, h3,
      h4, h5, h6 {
        color: white;
      }

      h3 {
        letter-spacing: .1em;
      }

      p.contact {
        a {
          color: white;
        }
        text-align: center;
      }
    }
  }

}

.wrapper {
  padding: 75px 20px 70px 20px;

  &.nopad {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.shaded {
    background-color: #E9E9E9 !important;
    background-size: cover;
  }
}

.nobreak {
  white-space: nowrap;
}

#bio {
  text-align: left;

  article:first-child {
    padding-right: 2em;
  }
}

#jumptable {
  padding: 0 20px;
}

.jumplinks-wrap {
  height: 70px;
}

@media only screen and (max-width: 768px) {
  .jumplinks-wrap {
    display: none;
  }
}

.jumplinks {
  -webkit-transform: translateZ(0);
  ul {
    border: 1px solid #ECECEC;
    display: table;
    width: 100%;
  }
  li {
    display: table-cell;
    margin: 0;
    padding: 0;
  }
  a {
    display: block;
    color: #4A4D50;
    background: #fff;
    padding: 1em 0;
    &:hover {
      color: #333;
    }
  }
  li + li a {
    border-left: 1px solid #ECECEC;
  }
}

.jumplinks.fixed {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;

  &:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .jumplinks li {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .jumplinks li {
    display: inline-block;
    width: 50%;
  }

  .jumplinks li:first-child,
  .jumplinks li:first-child + li {
    border-bottom: 1px solid #ececec;
  }
}

@media only screen and (max-width: 768px) {
  .jumplinks a {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.prompt-scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 15%;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition-property: opacity, bottom;
  -moz-transition-property: opacity, bottom;
  -o-transition-property: opacity, bottom;
  transition-property: opacity, bottom;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

article {
  figure:first-child {
    padding-bottom: 1.125em;
    //    png base color: #d0d7db;
  }
}

#web {
  div.columns {
    > a {
      position: relative;
      display: block;
      margin-bottom: 40px;
      overflow: hidden;
    }
  }
}

.align-left {
  text-align: left;
}

.outer-wrapper {
  > .wrapper > .row > h4 {
    margin-bottom: 1em;
  }
}

#chichi {
  padding-top: 0;
  img {
    max-height: 400px;
  }
}