{% extends 'projects/Cookie/_base.html' %}
{% block content %}
    <div class="windowMid">
        <marquee height=550 direction=up align="middle" onmouseover=stop() onmouseout=start()>
            <strong>Credits</strong><br><br><br><br>User Interface<br>金珂 张阳<br><br><br>System Architecture<br>张阳
            周浩<br><br><br>Component<br>张阳<br><br><br>Word Segmentation Algorithm Design<br>周浩 张阳 沙雨辰<br><br><br>Implementation<br>张阳
            金珂<br><br><br>Debugging<br>沙雨辰 周浩 金珂 张阳<br><br><br>Lexicon Construction<br>周浩 张阳 沙雨辰 金珂<br><br><br>System
            Testing<br>金珂 张阳 沙雨辰 周浩<br><br><br><br><br><br><br><strong style="font-size:68px">Speacial Thanks
            to</strong><br><br><br><br>Prof.Yao Tianfang<br><br><br><br><br><br><br><br><br><br>

            <p style="font-size:x-large">Copyright &copy; 2012, Cookie Team SJTU. <br>All Rights Reserved.</p></marquee>
    </div>
{% endblock %}
