{% extends 'projects/Cookie/_base.html' %}
{% block menu_extend %}
    <ul class="bmenu">
        <li><a href="dict">+Dict</a></li>
        <li><a href="rules">+Rules</a></li>
    </ul>
    <ul class="bmenu">
        <li><a href="#">&raquo;Save</a></li>
        <li><a href="back1">&laquo;Back</a></li>
    </ul>
{% endblock %}
{% block content %}
    <div class="windowDown" style="white-space:normal; overflow:auto; height:585px"><p>{% autoescape off %}{{ out_words }}{% endautoescape %}</p></div>
{% endblock %}