{% extends 'base.html' %}
{% load staticfiles %}
{% block title_extend %}{% endblock %}
{% block body_id %}id="home"{% endblock %}
{% block content %}
    <div id="kinetic-bg">
        <canvas></canvas>
        <div class="wrapper" id="title">
            <section class="row">
                <article class="eight columns centered">
                    <h1>YANG ZHANG</h1>

                    <h3>DESIGNER & ENGINEER</h3>
                    <h5>IN PROGRESS</h5>

                    <p class="contact">
                        <a href="//github.com/YangMann" target="_blank"><i class="icon-github"></i></a>
                        <a href="//www.linkedin.com/pub/yang-zhang/98/787/751" target="_blank"><i
                                class="icon-linkedin"></i></a>
                        <a href="#"><i class="icon-sina-weibo"></i></a>
                        <a href="mailto:zhangyang93@rocketmail.com"><i class="icon-mail"></i></a>
                    </p>
                </article>
            </section>
            <div class="prompt-scroll-down skip" gumby-goto="#bio">
                <h6 class="skip" gumby-goto="#bio">SCROLL DOWN</h6>
                <h4 class="skip" gumby-goto="#bio"><i class="icon-down-open-big"></i></h4>
            </div>
        </div>
    </div>
    <div class="wrapper" id="bio">
        <section class="row">
            <article class="six columns">
                <h4>BIO</h4>

                <p>I am a senior student in the <a href="//english.seiee.sjtu.edu.cn/english/info/8338.htm"
                                                   target="_blank">IEEE
                    Honor Class</a> at <a href="//www.sjtu.edu.cn/" target="_blank">Shanghai Jiao Tong University</a>,
                    majoring in
                    Computer Science & Technology. I am passionate and motivated. I leaded or participated in several
                    successful <a href="#">research projects</a> during the undergraduate years. </p>

                <p>I love to design & make cool stuffs. SCROLL DOWN to see more! </p>
            </article>
            <article class="six columns">
                <h4>INTERESTS</h4>

                <p>I've completed several <a href="#">mobile systems</a> & <a href="#">intelligent transportation
                    systems</a> (based on smart-phones) as research projects. Also, I have four-year experience in <a
                        href="#">web design</a>.</p>

                <p>I'm enthusiastic about <a href="#">human-computer interaction</a>, <a href="#">artificial
                    intelligence</a> and <a href="#">game development</a>. </p>

                <p>Classical and jazz music cultivated my passion for art. I have learned the accordion since the age of
                    4 and later the piano. </p>
            </article>
        </section>
    </div>
    <div class="wrapper" id="jumptable">
        <div class="row jumplinks-wrap">
            <nav class="jumplinks" gumby-fixed="top">
                <ul>
                    <li><a href="#" class="skip" gumby-goto="#web">Web Development </a></li>
                    <li><a href="#" class="skip" gumby-goto="#mobile">Mobile Apps </a></li>
                    <li><a href="#" class="skip" gumby-goto="#proj">Selected Projects </a></li>
                    <li><a href="#" class="skip" gumby-goto="#research">Research & Publications </a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="outer-wrapper" id="web">
        <div class="wrapper shaded">
            <section class="row">
                <h4 class="align-left">WEB</h4>
            </section>
            <section class="row">
                <div class="six columns">
                    <a href="//github.com/YangMann/yangzh.me" title="YANGZH.ME &mdash; Yang Zhang's Portfolio"
                       target="_blank">
                        <img src="{% static "img/projects/yangzh-me.jpg" %}" alt="YANGZH.ME | Yang Zhang's Portfolio"
                             gumby-retina>
                    </a>
                    <a title="Official website for the 6th National Student Social Practice & Science Contest on Energy & Emission Reduction">
                        <img src="{% static "img/projects/emission-20beta-index-html.png" %}" gumby-retina
                             alt="Official website for the 6th National Student Social Practice & Science Contest on Energy & Emission Reduction">
                    </a>
                    <a title="Prof. Xinbing Wang's homepage">
                        <img src="{% static "img/projects/xwang8-index-html.png" %}" gumby-retina
                             alt="Prof. Xinbing Wang's homepage">
                    </a>
                </div>
                <div class="six columns">
                    <a href="//iwct.sjtu.edu.cn/Personal/mxtao/index.html" title="Prof. Meixia Tao's homepage"
                       target="_blank">
                        <img src="{% static "img/projects/iwct-sjtu-edu-cn-Personal-mxtao-index-html.png" %}"
                             alt="Prof. Meixia Tao's Homepage" gumby-retina>
                    </a>
                    <a href="//chichi.sjtu1896.com/blog" target="_blank"
                       title="ChiChi交大吃吃 &mdash; SJTU Official Food Management Committee">
                        <img src="{% static "img/projects/chichi-mockup.jpg" %}" gumby-retina
                             alt="ChiChi交大吃吃 &mdash; SJTU Official Food Management Committee">
                    </a>
                    <a title="Pass申请通">
                        <img src="{% static "img/projects/sqt-intro.jpg" %}" alt="Pass申请通" gumby-retina>
                    </a>
                    <a title='Official website for the Shanghai "Smart City Week" App Design Contest'>
                        <img src="{% static "img/projects/new1-20beta-index-html.jpg" %}" gumby-retina
                             alt='Official website for the Shanghai "Smart City Week" App Design Contest'>
                    </a>
                </div>
            </section>
        </div>
    </div>
    <div class="outer-wrapper" id="mobile">
        <div class="wrapper">
            <section class="row">
                <h4 class="align-left">APP</h4>
            </section>
        </div>
        <div class="wrapper" id="chichi">
            <section class="row">
                <article class="four columns">
                    <figure>
                        <img src="{% static "img/projects/chichi-gif-mockup.gif" %}" alt="ChiChi UI">
                    </figure>
                </article>
                <article class="seven columns push_one">
                    <figure>
                        <img src="{% static "img/projects/chichi_launcher.png" %}" alt="ChiChi Icon">
                    </figure>
                    <h3>ChiChi</h3>

                    <p><a href="//page.renren.com/601599241" target="_blank">ChiChi</a> is the
                        <a href="//www.sjtu.edu.cn/" target="_blank">SJTU</a> official food management committee.
                        The ChiChi app is designed to present the daily feasts students can get from SJTU's dining
                        halls. The app provides visually-tasty meal suggestions with beautiful photos from the
                        shutterbugs at SJTU Photography Association. If you are hungry, just keep hitting the refresh
                        button. You'll get HUNGRIER! :-) </p>

                    <div class="buttons">
                        <div class="btn metro download medium default icon-left entypo icon-github">
                            <a href="//github.com/YangMann/ChiChiApp_Android" target="_blank">View on Github</a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
    <div class="outer-wrapper" id="proj">
        <div class="wrapper">
            <section class="row">
                <h4 class="align-left">PROJECT</h4>
            </section>
        </div>
        <div class="wrapper" id="cookie">
            <section class="row">
                <article class="eight columns">
                    <a href="/proj/Cookie" target="_blank"><h3>Cookie</h3></a>

                    <p><a href="/proj/Cookie" target="_blank">Cookie</a> is a web app for Chinese word segmentation.
                    </p>

                    <p>The core algorithms are implemented in Python. This project was a part of my freshman course
                        <em>Introduction to Computers & Programming</em>.
                    </p>

                    <div class="buttons">
                        <div class="btn metro download medium primary icon-left entypo icon-popup">
                            <a href="/proj/Cookie" target="_blank">Try it out!</a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="wrapper shaded" id="go">
            <section class="row">
                <article class="eight columns push_four">
                    <h3>GoToDye</h3>

                    <p>GoToDye is a Go AI engine written in C. </p>

                    <p>This project was the runner-up in the <em>Computer Go Competition</em> of my sophomore course
                        <em>Artificial Intelligence</em>. The algorithm was based on Monte Carlo Tree Search. </p>
                </article>
            </section>
        </div>
        <div class="wrapper" id="aero">
            <section class="row">
                <article class="eight columns">
                    <h3>Aero</h3>

                    <p>Aero is an indoor localization system based on visual SLAM conducted by AR.Drone and a smartphone
                       taped to the drone. </p>

                    <p>AR.Drone 2.0 has embedded sensors, camera and WiFi. The visual SLAM algorithm collects data from
                       the IMU on AR.Drone with camera video flow, and utilizes a smartphone to compute the indoor map
                       and current location of the drone. </p>
                </article>
            </section>
        </div>
        <div class="wrapper shaded" id="huankr">
            <section class="row">
                <article class="eight columns push_four">
                    <h3>HuanKr</h3>

                    <p>HuanKr is an online course sharing and exchanging platform. </p>

                    <p>With user permission, HuanKr can import schedule from
                        <a href="//electsys.sjtu.edu.cn" target="_blank">SJTU Electsys</a> with one click. Huankr
                        provides functions like note sharing, assignment notification, etc. </p>
                </article>
            </section>
        </div>
    </div>
    <div class="outer-wrapper" id="research">
        <div class="wrapper">
            <section class="row">
                <h4 class="align-left">RESEARCH</h4>
            </section>
        </div>
        <div class="wrapper">
            <section class="row">
                <article class="eight columns centered">
                    <h5>Publications</h5>
                </article>
            </section>
        </div>
    </div>
    <div class="wrapper shaded">
        <section class="row">
            <div class="six columns"><h5>YANGZH.ME IS UNDER CONSTRUCTION</h5></div>
            <div class="four columns">
                <div class="metro medium btn icon-left entypo icon-doc-text default"><a
                        href="{% static "docs/Yang_Zhang_CV.pdf" %}" target="_blank">View my CV in printable version</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}
    <script>
        /**
         * Dynamic Triangles
         * __  _____    _   ________   _____   __  _____    _   ________
         * \ \/ /   |  / | / / ____/  /__  /  / / / /   |  / | / / ____/
         *  \  / /| | /  |/ / / __      / /  / /_/ / /| | /  |/ / / __
         *  / / ___ |/ /|  / /_/ /     / /__/ __  / ___ |/ /|  / /_/ /
         * /_/_/  |_/_/ |_/\____/     /____/_/ /_/_/  |_/_/ |_/\____/
         * Copyright (C) Yang ZHANG <zhangyang93@rocketmail.com>
         *     A canvas trick to display dynamic triangles and simulate a 3D experience
         */
        $(function () {
            var canvasHeight = window.innerHeight, canvasWidth = window.innerWidth, nodesPerLine = 10,
                    lines = 5, threshold = 140, maxDrift = 100, maxDim = 30, baseColor = "#065688", ratio = 0.6;
            var canvas = $(document).find("#kinetic-bg>canvas"), ctx;
            try {
                ctx = canvas[0].getContext("2d");
            } catch (e) {
                // IE8 fallback
                var canvasWrapper = $(document).find("#kinetic-bg");
                canvasWrapper.css("width", (document.documentElement.clientWidth || document.body.clientWidth) + "px")
                        .css("height", (document.documentElement.clientHeight || document.body.clientHeight) + "px")
                        .css("background-color", baseColor);
            }
            /*var colors = ['#f35d4f', '#f36849', '#c0d988', '#6ddaf1', '#f1e85b'];*/
            resizeCanvas();
            var nodeRows = [];

            function resizeCanvas() {
                canvas[0].width = window.innerWidth;
                canvas[0].height = window.innerHeight;
            }

            function Node(row, idx) {
                this.x = canvasWidth / (nodesPerLine - 1) * idx
                - Math.random() * threshold + threshold / 2;
                this.y = canvasHeight / (lines - 1) * row
                - Math.random() * threshold + threshold / 2;
                // this.rgba = colors[Math.round(Math.random() * 4)];
                // this.r = 1;
                this.v = Math.random() * ratio - ratio / 2;
                this.dir = Math.round(Math.random()) * 2 - 1;
                this.dim = Math.random() * maxDim;
                this.dimdir = Math.round(Math.random()) * 2 - 1;
                this.dimv = this.v * maxDim / maxDrift * 2;
                this.c = shadeColor(baseColor, this.dim);
            }

            /**
             * http://stackoverflow.com/questions/5560248/programmatically-lighten-or-darken-a-hex-color-or-rgb-and-blend-colors
             */
            function shadeColor(color, percent) {
                var num = parseInt(color.slice(1), 16), amt = Math.round(2.55 * percent), R = (num >> 16) + amt, G = (num >> 8 & 0x00FF) + amt, B = (num & 0x0000FF) + amt;
                return "#" + (0x1000000 + (R < 255 ? R < 1 ? 0 : R : 255) * 0x10000 + (G < 255 ? G < 1 ? 0 : G : 255) * 0x100 + (B < 255 ? B < 1 ? 0 : B : 255)).toString(16).slice(1);
            }

            function draw() {
                ctx.clearRect(0, 0, canvasWidth, canvasHeight);
                ctx.globalCompositeOperation = 'source-cover';
                for (var i = 0; i < lines; i++) {
                    for (var j = 0; j < nodesPerLine; j++) {
                        var temp = nodeRows[i][j];
                        /*ctx.fillStyle = temp.rgba;
                         ctx.strokeStyle = temp.rgba;

                         ctx.beginPath();
                         ctx.arc(temp.x, temp.y, temp.r, 0, Math.PI * 2, true);
                         ctx.fill();
                         ctx.closePath();

                         ctx.beginPath();
                         ctx.arc(temp.x, temp.y, temp.r + 5, 0, Math.PI * 2, true);
                         ctx.stroke();
                         ctx.closePath();*/

                        temp.x += temp.vx * temp.dir;
                        temp.y += temp.vy * temp.dir;
                        if ((temp.dim <= maxDim) && (temp.dim >= -maxDim / 2)) {
                            temp.dim += temp.dimv * temp.dimdir;
                        } else {
                            temp.dimdir = -temp.dimdir;
                            temp.dim += temp.dimv * temp.dimdir;
                        }
                        temp.c = shadeColor(baseColor, temp.dim);

                        if (Math.abs(temp.x - temp.ox) >= maxDrift) {
                            temp.dir = -temp.dir;
                        }
                    }
                }
                for (i = 0; i < lines - 1; i++) {
                    for (j = 0; j < nodesPerLine - 1; j++) {
                        temp = nodeRows[i][j];
                        var temp1 = nodeRows[i][j + 1];
                        var temp2 = nodeRows[i + 1][j + 1];

                        // ctx.strokeStyle = 'black';
                        ctx.fillStyle = temp.c;
                        ctx.beginPath();
                        ctx.moveTo(temp.x, temp.y);
                        ctx.lineTo(temp1.x, temp1.y);
                        ctx.lineTo(temp2.x, temp2.y);
                        ctx.lineTo(temp.x, temp.y);
                        // ctx.stroke();
                        ctx.closePath();
                        ctx.fill();
                    }
                }
                for (i = 0; i < lines - 1; i++) {
                    for (j = 0; j < nodesPerLine - 1; j++) {
                        temp = nodeRows[i][j];
                        temp1 = nodeRows[i + 1][j];
                        temp2 = nodeRows[i + 1][j + 1];
                        var temp3 = nodeRows[i][j + 1];
                        // ctx.strokeStyle = 'black';
                        ctx.fillStyle = temp3.c;
                        ctx.beginPath();
                        ctx.moveTo(temp.x, temp.y);
                        ctx.lineTo(temp1.x, temp1.y);
                        ctx.lineTo(temp2.x, temp2.y);
                        ctx.lineTo(temp.x, temp.y);
                        // ctx.stroke();
                        ctx.closePath();
                        ctx.fill();
                    }
                }

            }

            window.requestAnimFrame = (function () {
                return window.requestAnimationFrame ||
                        window.webkitRequestAnimationFrame ||
                        window.mozRequestAnimationFrame ||
                        function (callback) {
                            window.setTimeout(callback, 1000 / 60);
                        };
            })();

            (function init() {
                canvas.css('background-color', baseColor);
                if (window.addEventListener) {
                    window.addEventListener('resize', resizeCanvas, false);
                } else {
                    // IE 8 fallback
                    window.attachEvent('resize', resizeCanvas);
                }
                for (var i = 0; i < lines; i++) {
                    nodeRows.push([]);
                    for (var j = 0; j < nodesPerLine; j++) {
                        nodeRows[i].push(new Node(i, j));
                    }
                }
                for (i = 0; i < lines; i++) {
                    for (j = 0; j < nodesPerLine; j++) {
                        var temp = nodeRows[i][j];
                        var temp2 = nodeRows[i][++j];
                        var dx = temp2.x - temp.x;
                        var dy = temp2.y - temp.y;
                        var c = Math.cos(Math.atan(dy / dx));
                        var s = Math.sin(Math.atan(dy / dx));
                        temp.vx = temp.v * c;
                        temp.vy = temp.v * s;
                        temp.ox = temp.x;
                        temp.oy = temp.y;
                        temp2.vx = temp2.v * c;
                        temp2.vy = temp2.v * s;
                        temp2.ox = temp2.x;
                        temp2.oy = temp2.y;
                    }
                }
            })();

            (function loop() {
                draw();
                requestAnimFrame(loop);
            })();
        });
    </script>
    <script>
        $(function () {
            setTimeout(function () {
                $(document).find(".prompt-scroll-down").css("opacity", 1).css("filter", "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)")
                        .css("bottom", "10%");
            }, 2000);
        });
    </script>
{% endblock %}