{% extends 'base.html' %}
{% load staticfiles %}
{% block title_extend %}{% endblock %}
{% block body_id %}id="home"{% endblock %}
{% block content %}
    <div id="kinetic-bg">
        <canvas></canvas>
        <div class="wrapper" id="title">
            <section class="row">
                <article class="eight columns centered">
                    <h1>YANG ZHANG</h1>

                    <h3>DESIGNER & ENGINEER</h3>
                    <h5>IN PROGRESS</h5>

                    <p class="contact">
                        <a href="https://github.com/YangMann"><i class="icon-github"></i></a>
                        <a href="https://www.linkedin.com/pub/yang-zhang/98/787/751"><i class="icon-linkedin"></i></a>
                        <a href="#"><i class="icon-sina-weibo"></i></a>
                        <a href="mailto:zhangyang93@rocketmail.com"><i class="icon-mail"></i></a>
                    </p>
                </article>
            </section>
            <div class="prompt-scroll-down skip" gumby-goto="#bio">
                <h6 class="skip" gumby-goto="#bio">SCROLL DOWN</h6>
                <h4 class="skip" gumby-goto="#bio"><i class="icon-down-open-big"></i></h4>
            </div>
        </div>
    </div>
    <div class="wrapper" id="bio">
        <section class="row">
            <article class="six columns">
                <h4>BIO</h4>

                <p>I am a senior student in the <a href="http://english.seiee.sjtu.edu.cn/english/info/8338.htm">IEEE
                    Honor Class</a> at Shanghai Jiao Tong University, majoring in Computer Science & Technology. I
                    am passionate and motivated. I leaded or participated in several successful <a href="#">research
                        projects</a>
                    during the undergraduate years. </p>

                <p>I love to design & make cool stuffs. SCROLL DOWN to see more! </p>
            </article>
            <article class="six columns">
                <h4>INTERESTS</h4>

                <p>I've completed several <a href="#">mobile systems</a> & <a href="#">intelligent transportation
                    systems</a> (based on smart-phones) as research projects. Also, I have four-year experience in <a
                        href="#">web design</a>.</p>

                <p>I'm also enthusiastic about <a href="#">human-computer interaction</a>, <a href="#">artificial
                    intelligence</a> and <a href="#">game development</a>. </p>

                <p>Classical and jazz music cultivated my passion for art. I have learned the accordion since the age of
                    4 and later the piano. </p>
            </article>
        </section>
    </div>
    <div class="wrapper" id="jumptable">
        <div class="row jumplinks-wrap">
            <nav class="jumplinks" gumby-fixed="top">
                <ul>
                    <li><a href="#" class="skip" gumby-goto="#web">Web Development </a></li>
                    <li><a href="#" class="skip" gumby-goto="#mobile">Mobile Apps </a></li>
                    <li><a href="#" class="skip" gumby-goto="#proj">Selected Projects </a></li>
                    <li><a href="#" class="skip" gumby-goto="#research">Research & Publications </a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="wrapper" id="web"></div>
{% endblock %}
{% block script %}
    <script>
        /**
         * Dynamic Triangles
         * __  _____    _   ________   _____   __  _____    _   ________
         * \ \/ /   |  / | / / ____/  /__  /  / / / /   |  / | / / ____/
         *  \  / /| | /  |/ / / __      / /  / /_/ / /| | /  |/ / / __
         *  / / ___ |/ /|  / /_/ /     / /__/ __  / ___ |/ /|  / /_/ /
         * /_/_/  |_/_/ |_/\____/     /____/_/ /_/_/  |_/_/ |_/\____/
         * Copyright (C) Yang ZHANG <zhangyang93@rocketmail.com>
         *     A canvas trick to display dynamic triangles and simulate a 3D experience
         */
        $(function () {
            var canvasHeight = window.innerHeight, canvasWidth = window.innerWidth, nodesPerLine = 10,
                    lines = 5, threshold = 140, maxDrift = 100, maxDim = 30, baseColor = "#065688", ratio = 0.6;
            var canvas = $(document).find("#kinetic-bg>canvas"), ctx = canvas[0].getContext("2d")/*,
             colors = ['#f35d4f', '#f36849', '#c0d988', '#6ddaf1', '#f1e85b']*/;
            resizeCanvas();
            var nodeRows = [];

            function resizeCanvas() {
                canvas[0].width = window.innerWidth;
                canvas[0].height = window.innerHeight;
            }

            function Node(row, idx) {
                this.x = canvasWidth / (nodesPerLine - 1) * idx
                - Math.random() * threshold + threshold / 2;
                this.y = canvasHeight / (lines - 1) * row
                - Math.random() * threshold + threshold / 2;
                // this.rgba = colors[Math.round(Math.random() * 4)];
                // this.r = 1;
                this.v = Math.random() * ratio - ratio / 2;
                this.dir = Math.round(Math.random()) * 2 - 1;
                this.dim = Math.random() * maxDim;
                this.dimdir = Math.round(Math.random()) * 2 - 1;
                this.dimv = this.v * maxDim / maxDrift * 2;
                this.c = shadeColor(baseColor, this.dim);
            }

            /**
             * http://stackoverflow.com/questions/5560248/programmatically-lighten-or-darken-a-hex-color-or-rgb-and-blend-colors
             */
            function shadeColor(color, percent) {
                var num = parseInt(color.slice(1), 16), amt = Math.round(2.55 * percent), R = (num >> 16) + amt, G = (num >> 8 & 0x00FF) + amt, B = (num & 0x0000FF) + amt;
                return "#" + (0x1000000 + (R < 255 ? R < 1 ? 0 : R : 255) * 0x10000 + (G < 255 ? G < 1 ? 0 : G : 255) * 0x100 + (B < 255 ? B < 1 ? 0 : B : 255)).toString(16).slice(1);
            }

            function draw() {
                ctx.clearRect(0, 0, canvasWidth, canvasHeight);
                ctx.globalCompositeOperation = 'source-cover';
                for (var i = 0; i < lines; i++) {
                    for (var j = 0; j < nodesPerLine; j++) {
                        var temp = nodeRows[i][j];
                        /*ctx.fillStyle = temp.rgba;
                         ctx.strokeStyle = temp.rgba;

                         ctx.beginPath();
                         ctx.arc(temp.x, temp.y, temp.r, 0, Math.PI * 2, true);
                         ctx.fill();
                         ctx.closePath();

                         ctx.beginPath();
                         ctx.arc(temp.x, temp.y, temp.r + 5, 0, Math.PI * 2, true);
                         ctx.stroke();
                         ctx.closePath();*/

                        temp.x += temp.vx * temp.dir;
                        temp.y += temp.vy * temp.dir;
                        if ((temp.dim <= maxDim) && (temp.dim >= -maxDim / 2)) {
                            temp.dim += temp.dimv * temp.dimdir;
                        } else {
                            temp.dimdir = -temp.dimdir;
                            temp.dim += temp.dimv * temp.dimdir;
                        }
                        temp.c = shadeColor(baseColor, temp.dim);

                        if (Math.abs(temp.x - temp.ox) >= maxDrift) {
                            temp.dir = -temp.dir;
                        }
                    }
                }
                for (i = 0; i < lines - 1; i++) {
                    for (j = 0; j < nodesPerLine - 1; j++) {
                        temp = nodeRows[i][j];
                        var temp1 = nodeRows[i][j + 1];
                        var temp2 = nodeRows[i + 1][j + 1];

                        // ctx.strokeStyle = 'black';
                        ctx.fillStyle = temp.c;
                        ctx.beginPath();
                        ctx.moveTo(temp.x, temp.y);
                        ctx.lineTo(temp1.x, temp1.y);
                        ctx.lineTo(temp2.x, temp2.y);
                        ctx.lineTo(temp.x, temp.y);
                        // ctx.stroke();
                        ctx.closePath();
                        ctx.fill();
                    }
                }
                for (i = 0; i < lines - 1; i++) {
                    for (j = 0; j < nodesPerLine - 1; j++) {
                        temp = nodeRows[i][j];
                        temp1 = nodeRows[i + 1][j];
                        temp2 = nodeRows[i + 1][j + 1];
                        var temp3 = nodeRows[i][j + 1];
                        // ctx.strokeStyle = 'black';
                        ctx.fillStyle = temp3.c;
                        ctx.beginPath();
                        ctx.moveTo(temp.x, temp.y);
                        ctx.lineTo(temp1.x, temp1.y);
                        ctx.lineTo(temp2.x, temp2.y);
                        ctx.lineTo(temp.x, temp.y);
                        // ctx.stroke();
                        ctx.closePath();
                        ctx.fill();
                    }
                }

            }

            window.requestAnimFrame = (function () {
                return window.requestAnimationFrame ||
                        window.webkitRequestAnimationFrame ||
                        window.mozRequestAnimationFrame ||
                        function (callback) {
                            window.setTimeout(callback, 1000 / 60);
                        };
            })();

            (function init() {
                canvas.css('background-color', baseColor);
                window.addEventListener('resize', resizeCanvas, false);
                for (var i = 0; i < lines; i++) {
                    nodeRows.push([]);
                    for (var j = 0; j < nodesPerLine; j++) {
                        nodeRows[i].push(new Node(i, j));
                    }
                }
                for (i = 0; i < lines; i++) {
                    for (j = 0; j < nodesPerLine; j++) {
                        var temp = nodeRows[i][j];
                        var temp2 = nodeRows[i][++j];
                        var dx = temp2.x - temp.x;
                        var dy = temp2.y - temp.y;
                        var c = Math.cos(Math.atan(dy / dx));
                        var s = Math.sin(Math.atan(dy / dx));
                        temp.vx = temp.v * c;
                        temp.vy = temp.v * s;
                        temp.ox = temp.x;
                        temp.oy = temp.y;
                        temp2.vx = temp2.v * c;
                        temp2.vy = temp2.v * s;
                        temp2.ox = temp2.x;
                        temp2.oy = temp2.y;
                    }
                }
            })();

            (function loop() {
                draw();
                requestAnimFrame(loop);
            })();
        });
    </script>
    <script>
        $(function () {
            setTimeout(function () {
                $(document).find(".prompt-scroll-down").css("opacity", 1).css("filter", "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)")
                        .css("bottom", "10%");
            }, 2000);
        });
    </script>
{% endblock %}